* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #00adb3;
}

.error-message {
    color: red;
    margin-top: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}



@media(max-width: 1350px)
{
    #containerFooter
    {
        padding: 15px 200px;
    }
}
@media(max-width: 1166px)
{
    #containerFooter
    {
        padding: 15px 100px;
    }
}
@media(max-width: 950px)
{
    #containerFooter
    {
        padding: 15px 50px;
    }
}
@media(max-width: 850px)
{
    #containerFooter
    {
        font-size: 13px;
    }
    #webFooter
    {
        font-size: 10px;
    }
}
@media(max-width: 750px)
{
    #containerFooter
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 15px 100px;
    }
    #webFooter
    {
        padding: 15px 20px;
    }
}
@media(max-width: 540px)
{
    #containerFooter
    {
        padding: 0 25px;
    }
}